body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
/*"mainContainer" is the new grid layout, which will replace "app"*/
#mainContainer {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 60px 200px 200px 30px;
    grid-gap: 1px;
    grid-template-areas: 
        "hd hd"
        "zip mre"
        "feel mre"
        "gen gen";
    justify-content: center;
    height:100vh;
    background: #cccccc;
    color: #261C8E;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    min-width: inherit;
    justify-content: center;
    padding: 10px 20px;
}
#zipArea{
    grid-area: zip;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-left: 15px;
}

#feel{
    grid-area: feel;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-left: 15px;
}

#recentEntry{
    grid-area: mre;
    display: block;
    flex-display: row;
    padding-left: 15px;
}

.recentEntryText{
    padding: 2px 15px;
    color: #000000;
}
#buttonArea{
    grid-area: gen;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}

.holder{
    color: #000000;
}

.entry{
    background: #eeeeee;
}

.myInput{
    padding-left: 15px;
}

#entryHolder{
    max-width: 75%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(4, 30px) 200px;
    grid-gap: 5px;
    grid-template-areas: 
        "datea icona"
        "tempa icona"
        "weatha weathDes"
        "feela feela";
    margin-left: 25px;
    background-color: #dddddd;
}

#date{
    grid-area: datea;
    flex-direction: row;
    padding-left: 15px;
}

#temp{
    grid-area: tempa;
    padding-left: 15px;
}

#currentWeather{
    grid-area: weatha;
    padding-left: 15px;
}

#content{
    grid-area: feela;
    padding-left: 15px;
}

#weathDesc{
    grid-area: weathDes;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

#weatherIcon{
    grid-area: icona;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#weatherIcon img{
    margin-top: -20px;
    -webkit-filter: drop-shadow(5px 5px 5px #222); /*Adds drop shadow to weather icon so it's easier to see. */
    filter: drop-shadow(5px 5px 5px #222);
}
.title{

}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    z-index: 3;
    width: 400px;
    height: 90px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}
